@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
     margin: 0;
     padding: 0;
     transition: header 0.5s;
     transition: background 0.4s;
  }
 
 .navbar {
     display: none;
 }

 body {
     font-family: "Dosis", "sans-serif";
     background-color: var(--white);
     color: var(--black);
 }
 
 :root {
     --primary: #5404af;
     --white: #F3F3F3;
     --dark: #222;
     --black: black;
     --light: rgb(221, 217, 217);
 }
 
 .dark-mode {
     --primary: #5404af;
     --white: #222;
     --dark: #F3F3F3;
     --black: #f3f3f3;
     --light: #222;
 }
 h1 {
     display: none;
 }
 .computer {
     font-family: 'Lato', sans-serif;
 }
.pc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(66, 33, 97);
}

.logo {
    color: rgb(190, 190, 190);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navlinks {
   display: flex;
   justify-content: space-around;
   width: 40%;
}
.navlinks li {
    list-style: none;
}
.navlinks a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}
#flick{
    position: relative;
    width: 65px;
    height: 27px;
    margin: 0px;
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 25px;
    transition: all 1s;
  }
#flick:before{
    content: "";
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: all .5s;
    transform: translate(2px, 2px);
    transition-timing-function: cubic-bezier(0.81, -0.02, 0, 2.13);
    transition-delay: .1s;
    box-shadow: inset 2px 0px 4px rgba(0,0,0,.5),
    -2px 0px 2px rgba(0,0,0,.5);
    animation: off 1s forwards;
  }
  #flick:checked{
    background-color: #404040;
    transition: all 1s;
  }
  #flick:checked:before{
    transition: all .5s;
    transform: translate(40px, 2px);
    transition-timing-function: cubic-bezier(0.81, -0.02, 0, 2.13);
    box-shadow: inset -2px 0px 4px rgba(0,0,0,.5),
    2px 0px 2px rgba(0,0,0,.5);
    transition-delay: .1s;
    right: 43px;
    animation: on 1s forwards;
  }
  
  @keyframes on{
    0%, 50%, 100%{
      width: 23px;
    }
    25%{
      width: 33px;
    }
  }
  @keyframes off{
    0%, 50%, 100%{
      width: 23px;
    }
    25%{
      width: 33px;
    }
  }
  .lang-menu {
      font-size: 19px;
      position: relative;
  }
  .selected-lang{
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      color: #fff; 
     line-height: 2;
      width: 110px;
  }
  .lang-menu ul {
      margin: 0;
      padding: 0;
      background-color: #fff;
      border: 1px solid #f8f8f8;
      box-shadow: 0px 7px 20px var(--black);
      border-radius: 5px;
      display: none;
      position: absolute;
      left: 0;
      top: 40px;
  }
  .lang-menu ul li {
      list-style: none;
      display: flex;
      justify-content: space-between;
  }
  .lang-menu ul li a {
      cursor: pointer;
      width: 120px;
      display: block;
      padding: 5px 10px;
	text-decoration: none;
	color: black;
  }
  .lang-menu ul li a:hover {
background-color: #d6d6d6;
text-decoration: none;
  }
  .lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
	text-decoration: none;

  }
  .selected-lang::before {
content: '';
display: block;
width: 32px;
height: 32px;
background-image: url("https://www.countryflags.io/ru/flat/32.png");
  }
.lang-menu:hover ul{
    display: block;
}
 .ru::before {
    background-image: url("https://www.countryflags.io/ru/flat/32.png");
}
.us::before{
    background-image:url("https://www.countryflags.io/us/flat/32.png");
}

  
@media screen and (max-width: 720px) {
    .navlinks {
        width: 40%;
    }
}
@media screen and (max-width: 1100px) {
    .navlinks {
      width: 50%;

    }
}


 @media screen and (max-width: 800px) {
.navlinks {
   width: 30%;
}
 }

 @media only screen and (max-width: 1000px) {
     *{
         transition: background 0.4s;
     }
#flick {
    display: none;
}
  .pc {
      min-height: 10vh;
  }
  .navlinks {
      display: none;
  }
    .container {
         width: 100%;
         /*background: linear-gradient(rgba(0, 0, 0, .4), rgba(148, 48, 48, .2), rgba(167, 67, 67, .4)), url(bg.png) center no-repeat;
         background-size: cover;*/
     }
     .hamburger-menu {
         width: 45px;
         height: 35px;
         position: fixed;
         top: 40px;
         right: 40px;
         cursor: pointer;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
     .line {
         width: 100%;
         height: 3px;
         background-color: #5404af;
         transition: all 0.4s;
     }
   .line-1 {
       height: 10%;
   }
     .change .line-1 {
         transform: rotateZ(-45deg) translate(-8px, 6px);
     }
     .change .line-2 {
         opacity: 0;
     }
     .change .line-3 {
         transform: rotateZ(46deg) translate(-8px, -6px);
         
     }
     .navbar {
         width: 200px;
         height: 100%;
         background-color: var(--light);
         position: fixed;
         top: 0;
         right: -300px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 20% 0 0 60%;
         transition: right 0.4s cubic-bezier(1, 0, 0, 1);
     }
     .change {
         right: 0;
     }
     .nav-list {
         text-align: right;
     }
     .nav-item {
         list-style: none;
         margin: 25px;
     }
     .nav-link {
         text-decoration: none;
         font-size: 22px;
         color: var(--black);
         font-weight: 300;
         letter-spacing: 1px;
         text-transform: uppercase;
         position: relative;
         padding: 3px 0;
     }
     .nav-link::before,
     .nav-link::after {
         content: "";
         width: 100%;
         height: 2px;
         background-color: #5404af;
         position: absolute;
         left: 0;
         transform: scaleX(0);
         transition: transform 0.3s;
     }
     .nav-link::after {
         bottom: 0;
         transform-origin: right;
     }
     .nav-link::before {
         top: 0;
         transform-origin: left;
     }
     .nav-link:hover::before,
     .nav-link:hover::after {
         transform: scaleX(1);
     }
 }

